
@{
    ViewData["Title"] = "index";
}

<h1>Hello world</h1>
<input type="text" id="num1" name="num1" /> <br />
<button class="add">+</button>
<button class="subtract">-</button>
<button class="divide">/</button>
<button class="multiply">*</button><br />
<input type="text" id="num2" name="num2" />
<br />

<input type="button" value="Result" onClick="calc(this)">
<p id="result" name="r1">
<br />
</p>


